#dataPlayer {
	background-color: rgb(235, 207, 234);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#dataPlayer-superior {
	width: 90vw;
	height: 20vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 3vw;
}

#dataPlayer-superior-divImage {
	width: 35vw;
	padding: 3vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#dataPlayer-superior-image {
	background-color: white;
	border-radius: 10vw;
	border-style: solid;
	border-width: 0.5vw;
	border-color: purple;
	width: 20vw;
	height: 20vw;
}

#dataPlayer-superior-data {
	width: 35vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2vw 0vw 2vw 0vw;
}

.dataPlayer-superior-data-value {
	width: 25vw;
	height: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#dataPlayer-inferior-statistics {
	display: grid;
	grid-template-columns: 34vw 34vw;
	grid-template-rows: 5vw 5vw;
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	justify-content: center;
    align-items: center;
	margin-top: 3vw;
}

.div1 { grid-area: 1 / 1 / 2 / 2; 
		align-self: center; 
		justify-self: center;
		color: purple;
		font-size: 1.5vw;}
.div2 { grid-area: 2 / 1 / 3 / 2; 
		align-self: center; 
		justify-self: center;
		color: purple;
		font-size: 1.5vw;}
.div3 { grid-area: 2 / 2 / 3 / 3; 
		align-self: center; 
		justify-self: center;
		color: purple;
		font-size: 1.5vw;}
.div4 { grid-area: 1 / 2 / 2 / 3; 
		align-self: center; 
		justify-self: center;
		color: purple;
		font-size: 1.5vw;}	

.font {
	color: purple;
	font-size: 1.5vw;
}

.values-Player {
	color: black;
}

.dataPlayer-buttons {
	display: flex;
	flex-direction: row;
	align-items: right;
	justify-content: space-around;
	margin-top: 3vw;
	
}